html,
body {
  height: 100%;
  font-family: "Titillium Web", "Roboto", "Open Sans", sans-serif;
}
.app {
  background: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
}

.content {
  margin: 80px auto;
  max-width: 800px;
}
